<fieldset
  data-controller="uploads"
  data-uploads-form-id-value="<%= form_id %>"
  class="fieldset mx-auto bg-base-100 border-base-300 rounded-box w-auto border p-4">
  <legend class="fieldset-legend">Images</legend>
  <div data-uploads-target="container">

  </div>
</fieldset>
