
<div data-controller="map"
     data-map-clickable-value="true"
     data-map-fullscreen-value="false">

  <div data-map-target="mapContainer"></div>

  <%= render partial: 'form', locals: { place: @place, form_id: @form_id } %>
</div>


